<div class="botonnes">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button
                class="nav-link active"
                id="pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-home"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true">
                Registrar Usuario
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link"
                id="pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-profile"
                type="button"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false">
                Usuarios
            </button>
        </li>
    </ul>
</div>

<div class="tab-content" id="pills-tabContent">
    <div
        class="tab-pane fade show active"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
        tabindex="0">
        <div class="container mt-5">
            <form (ngSubmit)="crearUsuario()" method="post">
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <label for="titulo" class="form-label">Nombres:</label>
                        <input
                            type="text"
                            class="form-control"
                            id="titulo"
                            [(ngModel)]="usuarioNuevo.nombres"
                            name="nombres"
                            required />
                    </div>
                    <div class="col-sm-4">
                        <label for="autor" class="form-label"
                            >Apellido Paterno:</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="autor"
                            [(ngModel)]="usuarioNuevo.apellido_paterno"
                            name="apellido_paterno"
                            required />
                    </div>
                    <div class="col-sm-4">
                        <label for="año" class="form-label"
                            >Apellido Materno:</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="año"
                            min="1900"
                            max="2099"
                            [(ngModel)]="usuarioNuevo.apellido_materno"
                            name="apellido_materno"
                            required />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <label for="cantidad" class="form-label"
                            >Teléfono:</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="cantidad"
                            min="1"
                            [(ngModel)]="usuarioNuevo.telefono"
                            name="telefono"
                            required />
                    </div>
                    <div class="col-sm-4">
                        <label for="isbn" class="form-label">Email:</label>
                        <input
                            type="email"
                            class="form-control"
                            id="isbn"
                            placeholder="ejemplo@gmail.com"
                            [(ngModel)]="usuarioNuevo.email"
                            name="email"
                            required />
                    </div>
                </div>
                <button type="submit" class="btn btn-tercero">Registrar</button>
            </form>
        </div>
    </div>
    <div
        class="tab-pane fade"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
        tabindex="0">
        <section class="libros">
            <table class="table">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Bibliotecario</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuariosEnDb; index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ usuario.nombres }}</td>
                        <td>
                            {{ usuario.apellido_paterno }}
                            {{ usuario.apellido_materno }}
                        </td>
                        <td>{{ usuario.bibliotecario }}</td>
                        <td>
                            <span
                                [class.text-bg-success]="usuario.es_activo"
                                [class.text-bg-danger]="!usuario.es_activo"
                                class="badge rounded-pill"
                                >{{
                                    usuario.es_activo === true
                                        ? 'activo'
                                        : 'inactivo'
                                }}</span
                            >
                        </td>
                        <td>
                            <a
                                class="edit-icon"
                                data-bs-toggle="modal"
                                data-bs-target="#uiEditarUsuario"
                                (click)="
                                    editarUsuario(usuario.id_usuario, usuario)
                                ">
                                <i class="fas fa-pencil"></i>
                            </a>
                            |
                            <a
                                class="delete-icon"
                                data-book-id="1"
                                (click)="eliminarUsuario(usuario.id_usuario)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Paginacion -->
            <div class="pagination">
                <ul>
                    <li
                        *ngFor="let page of UsuarioPage"
                        [ngClass]="{
                            active: page.number === UsuarioCurrentPage
                        }">
                        <!-- botones -->
                        <button
                            *ngIf="page.type === 'page'"
                            (click)="changePageUsuario(page.number)">
                            {{ page.number }}
                        </button>
                        <span *ngIf="page.type === 'dots'">...</span>

                        <button
                            *ngIf="page.type === 'prev'"
                            (click)="changePageUsuario(page.number)">
                            <i class="fas fa-angle-left"></i> Prev
                        </button>

                        <button
                            role="button"
                            *ngIf="page.type === 'next'"
                            (click)="changePageUsuario(page.number)">
                            Next <i class="fas fa-angle-right"></i>
                        </button>
                    </li>
                </ul>
                <div
                    [formGroup]="UsuarioPageSizeForm"
                    class="page_size_cont mx-3">
                    <select
                        formControlName="pageSize"
                        (change)="changePageSizeUsuario()">
                        <option
                            *ngFor="let size of [5, 10, 20, 100]"
                            [value]="size">
                            {{ size }}
                        </option>
                    </select>
                </div>
                <p class="texto">
                    Mostrando
                    {{
                        UsuarioPageSize <= UsuarioTotalItems
                            ? UsuarioPageSize
                            : UsuarioTotalItems
                    }}
                    registros de
                    {{ UsuarioTotalItems }}
                </p>
            </div>
            <!-- end paginacion -->
        </section>
    </div>
</div>

<div
    class="modal fade bd-example-modal-lg"
    id="uiEditarUsuario"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div id="ContenedorBotonCerrarModal">
                    <button
                        type="button"
                        class="close"
                        id="botonModalCerrar"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                        <i class="fa-solid fa-xmark" style="color: #ffffff"></i>
                    </button>
                </div>
            </div>

            <form
                [formGroup]="actualizarDatosUsuarioForm"
                (ngSubmit)="modificarUsuario()">
                <div class="modal-body" id="ContenedorBodyModal">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="textoNombres">Nombres:</label>
                                <input
                                    type="text"
                                    id="textoNombres"
                                    class="form-control"
                                    name="texto"
                                    placeholder="Nombres"
                                    formControlName="nombres"
                                    required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="textoApellidoPat"
                                    >Apellido Paterno:</label
                                >
                                <input
                                    type="text"
                                    id="textoApellidoPat"
                                    class="form-control"
                                    name="texto"
                                    placeholder="Apellido Paterno"
                                    formControlName="apellido_paterno"
                                    required />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="textoApellidoMat"
                                    >Apellido Materno:</label
                                >
                                <input
                                    type="text"
                                    id="textoApellidoMat"
                                    class="form-control"
                                    name="texto"
                                    placeholder="Apellido Materno"
                                    formControlName="apellido_materno"
                                    required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="textoTelefono">Teléfono:</label>
                                <input
                                    type="text"
                                    id="textoTelefono"
                                    class="form-control"
                                    name="texto"
                                    placeholder="Teléfono"
                                    formControlName="telefono"
                                    required />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="textoEmail">Email:</label>
                                <input
                                    type="text"
                                    id="textoEmail"
                                    class="form-control"
                                    name="texto"
                                    placeholder="Email"
                                    formControlName="email"
                                    required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Estado:</label>
                                <div>
                                    <label class="switch">
                                        <input
                                            type="checkbox"
                                            [checked]="
                                                usuarioSeleccionado.es_activo
                                            "
                                            (change)="
                                                toggleUsuarioActivo($event)
                                            " />
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button
                        type="submit"
                        class="btn btn-primary"
                        id="botonActualizarModal">
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
