<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button
            class="nav-link active"
            id="pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-home"
            type="button"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true">
            Libros
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button
            class="nav-link"
            id="pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-profile"
            type="button"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false">
            Registrar Libro
        </button>
    </li>
</ul>
<!-- TABLA LIBROS -->
<div class="tab-content" id="pills-tabContent">
    <div
        class="tab-pane fade show active"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
        tabindex="0">
        <input type="search"
        type="search"
                id="texto"
                name="texto"
                placeholder="Buscar Libro..."
                (input)="bucarNombreEnDb($event)">
        <section class="libros">
            <table class="table" border="0" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Título</th>
                        <th>Genero</th>
                        <th>Editorial</th>
                        <th>Catidad</th>
                        <th>Prestados</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let libro of libros, let i = index">
                        <td>{{i+1}}</td>
                        <td>{{ libro.titulo }}</td>
                        <td>{{ libro.genero }}</td>
                        <td>{{libro.editorial}} </td>
                        <td>{{ libro.cantidad }}</td>
                        <td>{{ libro.prestados }}</td>
                        <td>
                            <div class="editModal">
                                <a
                                    href="#"
                                    class="btn btn-editar"
                                    data-bs-toggle="modal"
                                    data-bs-target="#editModal"
                                    (click)="abrirModalActualizar(libro)"
                                    ><i class="fas fa-pencil"></i
                                ></a>
                                |
                                <a
                                    href="#"
                                    class="btn btn-eliminar"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteModal"
                                    (click)="eliminarLibro(libro.id)"
                                    ><i class="fas fa-trash-alt"></i
                                ></a>
                                <div
                                    class="modal fade"
                                    id="editModal"
                                    tabindex="-1"
                                    aria-labelledby="editModalLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5
                                                    class="modal-title"
                                                    id="editModalLabel"
                                                    (click)="actualizarLibro()">
                                                    <i
                                                        class="fas fa-pencil"></i>
                                                    Actualizar Datos
                                                </h5>
                                                <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div
                                                    class="container_modal mt-5">
                                                    <form
                                                        [formGroup]="libroForm"
                                                        action=""
                                                        method="post">
                                                        <div class="row mb-3">
                                                            <div
                                                                class="col-sm-6">
                                                                <label
                                                                    for="titulo"
                                                                    class="form-label"
                                                                    >Título:</label
                                                                >
                                                                <input
                                                                    type="text"
                                                                    formControlName="titulo"
                                                                    class="form-control"
                                                                    id="titulo"
                                                                    name="titulo"
                                                                    required />
                                                            </div>
                                                            <div
                                                                class="col-sm-6">
                                                                <label
                                                                    for="autor"
                                                                    class="form-label"
                                                                    >Autor:</label
                                                                >
                                                                <!-- <input type="text" class="form-control" id="autor" name="autor" formControlName="autor"> -->
                                                                <select
                                                                    class="form-select"
                                                                    name="autor"
                                                                    formControlName="id_autor"
                                                                    id="autor">
                                                                    
                                                                    <option
                                                                        selected
                                                                        >
                                                                        {{libroActual.id_autor}}
                                                                    </option>
                                                                    <option
                                                                        *ngFor="
                                                                            let autor of autores
                                                                        "
                                                                        [value]="
                                                                            autor.id_autor
                                                                        ">
                                                                        {{autor.nombres}}
                                                                        {{autor.apellido_paterno}}
                                                                        {{autor.apellido_materno}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div
                                                                class="col-sm-6">
                                                                <label
                                                                    for="año"
                                                                    class="form-label"
                                                                    >Año:</label
                                                                >
                                                                <input
                                                                    type="number"
                                                                    formControlName="anio_publicacion"
                                                                    class="form-control"
                                                                    id="año"
                                                                    name="año"
                                                                    min="1900"
                                                                    max="2099"
                                                                    required />
                                                            </div>
                                                            <div
                                                                class="col-sm-6">
                                                                <label
                                                                    for="cantidad"
                                                                    class="form-label"
                                                                    >Cantidad:</label
                                                                >
                                                                <input
                                                                    type="number"
                                                                    formControlName="cantidad"
                                                                    class="form-control"
                                                                    id="cantidad"
                                                                    name="cantidad"
                                                                    min="1"
                                                                    required />
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div
                                                                class="col-sm-6">
                                                                <label
                                                                    for="genero"
                                                                    class="form-label"
                                                                    >Género:</label
                                                                >
                                                                <select
                                                                    class="form-select"
                                                                    id="genero"
                                                                    name="genero"
                                                                    formControlName="id_genero"
                                                                    required>
                                                                    <option
                                                                        selected
                                                                        disabled>
                                                                        {{
                                                                            libroActual.genero
                                                                        }}
                                                                    </option>
                                                                    <option
                                                                        *ngFor="
                                                                            let genero of generos
                                                                        "
                                                                        [value]="
                                                                            genero.id_genero
                                                                        ">
                                                                        {{
                                                                            genero.nombre
                                                                        }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div
                                                                class="col-sm-6">
                                                                <label
                                                                    for="proveedor"
                                                                    class="form-label"
                                                                    >Proveedor:</label
                                                                >
                                                                <select
                                                                    class="form-select"
                                                                    name="porveedor"
                                                                    formControlName="id_proveedor"
                                                                    id="proveedor">
                                                                    <option
                                                                        selected
                                                                        disabled>
                                                                        {{
                                                                            libroActual.proveedor
                                                                        }}
                                                                    </option>
                                                                    <option
                                                                        *ngFor="
                                                                            let proveedor of proveedores
                                                                        "
                                                                        [value]="
                                                                            proveedor.id_proveedor
                                                                        ">
                                                                        {{
                                                                            proveedor.nombre
                                                                        }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div
                                                                class="col-sm-6">
                                                                <label
                                                                    for="descripcion"
                                                                    class="form-label"
                                                                    >Descripción</label
                                                                >
                                                                <textarea
                                                                    type="text"
                                                                    formControlName="descripcion"
                                                                    class="form-control"
                                                                    name="descripcion"
                                                                    id="descripcion"
                                                                    rows="2">
                                                                </textarea>
                                                            </div>
                                                            <div
                                                                class="col-sm-6">
                                                                <label
                                                                    for="edotorial"
                                                                    class="form-label"
                                                                    >Editorial</label
                                                                >
                                                                <select
                                                                    class="form-select"
                                                                    name="editorial"
                                                                    id="editorial">
                                                                    <option
                                                                        selected
                                                                        disabled>
                                                                        {{
                                                                            libroActual.editorial
                                                                        }}
                                                                    </option>
                                                                    <option
                                                                        *ngFor="
                                                                            let editorial of editoriales
                                                                        "
                                                                        value="editorial.id_editorial">
                                                                        {{
                                                                            editorial.nombre
                                                                        }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button
                                                    type="button"
                                                    class="btn btn-secondary"
                                                    data-bs-dismiss="modal">
                                                    Cancelar
                                                </button>
                                                <button
                                                    type="button"
                                                    class="btn btn-success"
                                                    data-bs-dismiss="modal"
                                                    (click)="actualizarLibro()">
                                                    Actulizar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Paginacion -->
            <div class="pagination">
                <ul>
                    <li
                        *ngFor="let page of LibroPage"
                        [ngClass]="{
                            active: page.number === LibroCurrentPage
                        }">
                        <!-- botones -->
                        <button
                            *ngIf="page.type === 'page'"
                            (click)="changePageLibro(page.number)">
                            {{ page.number }}
                        </button>
                        <span *ngIf="page.type === 'dots'">...</span>

                        <button
                            *ngIf="page.type === 'prev'"
                            (click)="changePageLibro(page.number)">
                            <i class="fas fa-angle-left"></i> Prev
                        </button>

                        <button
                            role="button"
                            *ngIf="page.type === 'next'"
                            (click)="changePageLibro(page.number)">
                            Next <i class="fas fa-angle-right"></i>
                        </button>
                    </li>
                </ul>
                <div
                    [formGroup]="LibroPageSizeForm"
                    class="page_size_cont mx-3">
                    <select
                        formControlName="pageSize"
                        (change)="changePageSizeLibro()">
                        <option
                            *ngFor="let size of [5, 10, 20, 100]"
                            [value]="size">
                            {{ size }}
                        </option>
                    </select>
                </div>
                <p class="texto">
                    Mostrando
                    {{
                        LibroPageSize <= LibroTotalItems
                            ? LibroPageSize
                            : LibroTotalItems
                    }}
                    registros de
                    {{ LibroTotalItems }}
                </p>
            </div>
            <!-- end paginacion -->

        </section>
    </div>
    <!-- FORMULARIO PARA REGISTRAR LIBRO -->
    <div
        class="tab-pane fade"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
        tabindex="0">
        <div class="container mt-5">
            <form [formGroup]="libroForm">
                <div class="row mb-3">
                    <div class="col-sm-5">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Título:</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="titulo"
                            name="titulo"
                            formControlName = "titulo"
                            required />
                    </div>
                    <div class="col-sm-5">
                        <label for="autor" class="form-label">Autor:</label>
                        <select
                            class="form-select"
                            name="id_autor"
                            id="id_autor"
                            formControlName = "id_autor"
                            required>
                            <option selected disabled>Seleccionar</option>
                            <option
                                *ngFor="let autor of autores"
                                [value]="autor.id_autor">
                                {{ autor.nombres }}
                                {{ autor.apellido_paterno }}
                                {{ autor.apellido_materno }}
                            </option>
                        </select>
                        <!-- <input type="text" class="form-control" id="autor" name="autor" required> -->
                    </div>
                    <div class="col-sm-2">
                        <label for="text" class="form-label">Agregar:</label>
                        <button
                            type="submit"
                            class="btn btn-success"
                            (click)="DirigirAdmin()">
                            +
                        </button>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-5">
                        <label for="año" class="form-label"
                            >Año de Publicación:</label
                        >
                        <input
                            type="integer"
                            class="form-control"
                            id="anio_publicacion"
                            name="anio_publicacion"
                            min="1900"
                            max="2099"
                            formControlName="anio_publicacion"
                            required />
                    </div>
                    <div class="col-sm-5">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Cantidad:</label
                        >
                        <input
                            type="number"
                            class="form-control"
                            id="cantidad"
                            name="cantidad"
                            min="1"
                            formControlName="cantidad"
                            required />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-5">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Género:</label
                        >
                        <select
                            class="form-select"
                            name="id_genero"
                            id="id_genero"
                            formControlName="id_genero"
                            required>
                            <option selected disabled>Seleccionar</option>
                            <option
                                *ngFor="let genero of generos"
                                [value]="genero.id_genero">
                                {{ genero.nombre }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-5">
                        <label for="id_proveedor" class="form-label"
                            >Proveedor:</label
                        >
                        <select
                            class="form-select"
                            name="id_proveedor"
                            id="id_proveedor"
                            formControlName="id_proveedor"
                            required>
                            <option selected disabled>Seleccionar</option>
                            <option
                                *ngFor="let proveedor of proveedores"
                                [value]="proveedor.id_proveedor">
                                {{ proveedor.nombre }}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="text" class="form-label">Agregar:</label>
                        <button
                            type="submit"
                            class="btn btn-success"
                            (click)="DirigirAdmin()">
                            +
                        </button>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-5">
                        <label for="descripcion" class="form-label"
                            >Descripción:</label
                        >
                        <textarea
                            type="text"
                            class="form-control"
                            id="descripcion"
                            name="descripcion"
                            formControlName="descripcion"
                            rows="3"></textarea>
                    </div>
                    <div class="col-sm-5">
                        <label for="id_editorial" class="form-label"
                            >Editorial:</label
                        >
                        <select
                            class="form-select"
                            id="id_editorial"
                            name="id_editorial"
                            formControlName="id_editorial"
                            required>
                            <option selected disabled>Seleccionar</option>
                            <option
                                *ngFor="let editorial of editoriales"
                                [value]="editorial.id_editorial">
                                {{ editorial.nombre }}
                            </option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-segundo" id="saveButton" (click)="registrarLibro()">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>
