.nav-pills {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.nav-item {
    margin-right: 50px;
}

.nav-link {
    color: black;
}

.nav-link.active {
    background-color: #ffd977;
    color: #000000;
    border-bottom: 2px solid #ffd977;
}

.container {
    width: 900px;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    position: relative;
    top: auto;
}
.container_modal {
    width: auto;
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    position: relative;
    top: auto;
}

.tab-pane {
    width: 950px;
    background-color: #f4f4f4;
    padding: auto 10px;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    position: relative;
    top: 5%;
    margin: 10px auto;
}

button {
    padding: 5px 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    margin: auto;
}

.btn-segundo {
    background-color: #64e061;
}
.btn-segundo:hover {
    background-color: #0ce048;
}

.fa-pencil {
    color: blue;
}
.fa-trash-alt {
    color: blue;
}
