<div class="contenedor_principal">
    <div class="main_img">
        <div class="Saludo">¡Bienvenido a la Biblioteca!</div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="contenedor">
                <div class="icono usuarios"><i class="fas fa-users"></i></div>
                <div class="texto">USUARIOS</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contenedor">
                <div class="icono libros"><i class="fas fa-book"></i></div>
                <div class="texto">LIBROS</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contenedor">
                <div class="icono autor"><i class="fas fa-pen-nib"></i></div>
                <div class="texto">AUTOR</div>
            </div>
        </div>
    </div>
    <div class="row mt-3 row-gap-3">
        <div class="col-md-4">
            <div class="contenedor">
                <div class="icono editorial">
                    <i class="fas fa-building"></i>
                </div>
                <div class="texto">EDITORIAL</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contenedor">
                <div class="icono prestamos">
                    <i class="fas fa-handshake"></i>
                </div>
                <div class="texto">PRESTAMOS</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contenedor">
                <div class="icono dev-vencido">
                    <i class="fas fa-calendar-times"></i>
                </div>
                <div class="texto">DEV. VENCIDO</div>
            </div>
        </div>
    </div>
    <table class="table table-bordered custom-table">
        <thead>
            <tr>
                <th scope="col">Popular:</th>
                <!-- th negrita y td normal-->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Mi planta de naranja Lima</td>
            </tr>
            <tr>
                <td scope="row">Amelia</td>
            </tr>
            <tr>
                <td scope="row">El señor de los anillos</td>
            </tr>
        </tbody>
    </table>
</div>
