.nav-link.active {
  background-color: #FFD977; /* Color de fondo del enlace activo */
  color: #000000; /* Color del texto del enlace activo */
  border-bottom: 2px solid #FFD977; /* Borde inferior del enlace activo */
}


.pagination ul li span {
    cursor: pointer;
    padding: 10px 15px;
    background: #f1f1f1;
    border-radius: 5px;
}

.pagination ul li.active span {
    background: #007bff;
    color: #fff;
}

.pagination ul li span:hover {
    background: #007bff;
    color: #fff;
}

/* page size */
.page_size_cont {
    display: flex;
    background-color: transparent;
    justify-content: center;
}

.page_size_cont select {
    margin-bottom: 1rem;
    outline: none;
    width: 70px;
    padding: 3px 10px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #3f3f3f2f;
    border-radius: 7px;
}

.page_size_cont select:hover {
    border: 1px solid #3f3f3f70;
}

.page_size_cont select > option {
    font-size: 20px;
    font-weight: 500;
}

/* sttepper */
.wrap{
    /* width: 500px; */
    background: #f8f8f8;
    border: 5px;
    /* text-align: center; */
}

.wrap header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
    text-align: center;
}

.wrap .form-outer{
    width: 100%;
    overflow: hidden;
}

.form-outer form{
    display: flex;
    width: 400%;
}

.form-outer form .page{
    transition: 0.3s ease;
    width: 25%;
    padding: 0px 35px;
    display: none;
}

/* .form-outer form .page:nth-of-type(3) { */
    /* display: block; Show only the second page */
/* } */

.form-outer form .page .title{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.form-outer form .page .field{
    height: 45px;
    width: 100%;
    margin: 45px 0;
    display: flex;
    position: relative;
    justify-content: space-around;
}

/* si se usa selecteform .page .field select {

} */

.form-outer form .page .field button{
    width: 25%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background: #2689fc;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s ease;
}

.form-outer form .page .field button:hover{
    background: #000;
}

.form-outer form .page .btns button{
    margin-top: -20px !important;
}
form .page .btns button .prev{
    margin-right: 3px;
    font-size: 17px;
}
form .page .btns button .next{
    margin-left: 3px;
}

/* formulario usuarios */
.content_page > .barra_busqueda{
    display: flex;
    align-items: center;
    margin: 1em 0;
}

.barra_busqueda > div >input{
    height: 45px;
    width: 20rem;
    font-style: italic;
    padding: 0 1em;
    outline: none;
}

.barra_busqueda .search-btn{
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: #2689fc;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px ;
}

tr:has(td >.actions input[type="checkbox"]:checked){
    background-color: #007bff !important;
}

/* checkbok style */
.actions{
    display: flex;
    align-items: center;
}

.actions > label{
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    user-select: none;
}


tr:has(td >.actions input[type="checkbox"]:checked){
    --bs-table-bg: #7a7a7a !important;
    --bs-table-color: white;
    font-weight: bold;
}

.actions input[type="checkbox"]{
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    background: #e3e3e3;
    border-radius: .4em;
    margin: 0 1em;
}

.actions input[type="checkbox"]::after{
    display: flex   ;
    font-family: 'Font Awesome 6 Free';
    content: "\f00c";
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    display: none;
}

.actions input[type="checkbox"]:hover{
    background: #c3c3c3;
}

.actions input[type="checkbox"]:checked{
    background-color: #007bff;
}

.actions input[type="checkbox"]:checked::after{
    display: flex;
}