<div class="containerNav">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button
                class="nav-link active"
                id="pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-home"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true">
                Añadir Autor
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button
                class="nav-link"
                id="pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-profile"
                type="button"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false">
                Añadir editorial
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button
                class="nav-link"
                id="pills-contact-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-contact"
                type="button"
                role="tab"
                aria-controls="pills-contact"
                aria-selected="false">
                Añadir genero
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button
                class="nav-link"
                id="pills-proveedores-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-proveedores"
                type="button"
                role="tab"
                aria-controls="pills-proveedores"
                aria-selected="false">
                Añadir proveedores
            </button>
        </li>
    </ul>
</div>

<div class="tab-content" id="pills-tabContent">
    <!--TAB 1: AÑADIR AUTOR-->
    <div
        class="tab-pane fade show active"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
        tabindex="0">
        <form action="" [formGroup]="formAutor" (submit)="sendAutor()">
            <div class="container text-start">
                <div class="row align-items-start">
                    <div class="mb-3 col">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Nombres</label
                        >
                        <input class="form-control" formControlName="nombres" />
                    </div>
                    <div class="mb-3 col">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Apellido Paterno</label
                        >
                        <input
                            class="form-control"
                            formControlName="apellido_paterno" />
                    </div>
                </div>
            </div>
            <div class="container text-start">
                <div class="row align-items-start">
                    <div class="mb-3 col">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Apellido Materno</label
                        >
                        <input
                            class="form-control"
                            formControlName="apellido_materno" />
                    </div>
                    <div class="mb-3 col">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Nacionalidad</label
                        >
                        <select
                            class="form-select"
                            aria-label="Default select example"
                            formControlName="id_nacionalidad">
                            <option
                                *ngFor="let nacionalidad of nacionalidades"
                                [value]="nacionalidad.id_nacionalidad">
                                {{ nacionalidad.gentilicio }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="containerButton">
                <button
                    type="button"
                    class="btn btn-warning"
                    (click)="actualizarAutor()"
                    [disabled]="formAutor.invalid"
                    *ngIf="mostrarBotonActualizar">
                    Actualizar
                </button>
                <button
                    type="submit"
                    class="btn btn-success"
                    *ngIf="mostrarBotonAdd"
                    [disabled]="formAutor.invalid">
                    Añadir
                </button>
            </div>
        </form>
        <!-- contenido de la pagina -->
        <div class="content_page">
            <div class="barra_busqueda">
                <div>
                    <input
                        type="search"
                        name="searchuser"
                        id=""
                        (input)="BuscarAutor($event)"
                        placeholder="Buscar" />
                </div>
                <div class="search-btn">
                    <i class="fa-solid fa-search"></i>
                </div>
            </div>
            <!-- tabla de contenido de usuario -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellido Paterno</th>
                        <th scope="col">Apellido Materno</th>
                        <th scope="col">Nacionalidad</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr #row *ngFor="let item of autores">
                        <th scope="row">
                            {{ autores.indexOf(item) + 1 }}
                        </th>
                        <td>{{ item.nombres }}</td>
                        <td>{{ item.apellido_paterno }}</td>
                        <td>{{ item.apellido_materno }}</td>
                        <td>
                            {{ item.nacionalidad }}
                        </td>
                        <td>
                            <div class="actions">
                                <button
                                    type="button"
                                    class="btn btn-light"
                                    (click)="editarAutor(item.id_autor)">
                                    ✏️
                                </button>

                                <button
                                    type="button"
                                    class="btn btn-light"
                                    (click)="deleteAutor(item.id_autor)">
                                    ❌
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Paginacion -->

            <!-- end paginacion -->
        </div>
    </div>

    <!--TAB 2: AÑADIR EDITORIAL-->
    <div
        class="tab-pane fade"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
        tabindex="0">
        <form action="" [formGroup]="formEditorial" (submit)="sendEditorial()">
            <div class="container text-start">
                <div class="row align-items-start">
                    <div class="mb-3 col">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Nombre</label
                        >
                        <input
                            class="form-control"
                            id="exampleFormControlInput1"
                            formControlName="nombre" />
                    </div>
                    <div class="mb-3 col">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Dirección</label
                        >
                        <input
                            class="form-control"
                            id="exampleFormControlInput1"
                            formControlName="direccion" />
                    </div>
                </div>
            </div>
            <div class="container text-start">
                <div class="row align-items-start">
                    <div class="mb-3 col">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Email</label
                        >
                        <input
                            type="email"
                            class="form-control"
                            id="exampleFormControlInput1"
                            formControlName="email" />
                    </div>
                    <div class="mb-3 col">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Telefono</label
                        >
                        <input
                            class="form-control"
                            id="exampleFormControlInput1"
                            formControlName="telefono" />
                    </div>
                </div>
            </div>
            <div class="containerButton">
                <button
                    type="button"
                    class="btn btn-warning"
                    (click)="actualizarEditorial()"
                    [disabled]="formEditorial.invalid"
                    *ngIf="mostrarBotonActualizar">
                    Actualizar
                </button>
                <button
                    type="submit"
                    class="btn btn-success"
                    *ngIf="mostrarBotonAdd"
                    [disabled]="formEditorial.invalid">
                    Añadir
                </button>
            </div>
        </form>
        <!-- contenido de la pagina -->
        <div class="content_page">
            <div class="barra_busqueda">
                <div>
                    <input
                        type="search"
                        name="searchuser"
                        id=""
                        placeholder="Buscar" />
                </div>
                <div class="search-btn">
                    <i class="fa-solid fa-search"></i>
                </div>
            </div>

            <!-- tabla de contenido de usuario -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr #row *ngFor="let item of editoriales">
                        <th scope="row">
                            {{ editoriales.indexOf(item) + 1 }}
                        </th>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.direccion }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.telefono }}</td>

                        <td>
                            <div class="actions">
                                <button
                                    type="button"
                                    class="btn btn-light"
                                    (click)="
                                        editarEditorial(item.id_editorial)
                                    ">
                                    ✏️
                                </button>

                                <button
                                    type="button"
                                    class="btn btn-light"
                                    (click)="
                                        deleteEditorial(item.id_editorial)
                                    ">
                                    ❌
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Paginacion -->

            <!-- end paginacion -->
        </div>
    </div>

    <!--TAB 3: AÑADIR GENERO-->
    <div
        class="tab-pane fade"
        id="pills-contact"
        role="tabpanel"
        aria-labelledby="pills-contact-tab"
        tabindex="0">
        <form action="" [formGroup]="formGenero" (submit)="sendGenero()">
            <div class="container text-start">
                <div class="row align-items-start">
                    <div class="mb-3 col">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Nombre</label
                        >
                        <input
                            class="form-control"
                            id="exampleFormControlInput1"
                            formControlName="nombre" />
                    </div>
                    <div class="mb-3 col">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Descripción</label
                        >
                        <input
                            class="form-control"
                            id="exampleFormControlInput1"
                            formControlName="descripcion" />
                    </div>
                </div>
                <!-- contenido de la pagina -->
            </div>
            <div class="containerButton">
                <button
                    type="button"
                    class="btn btn-warning"
                    (click)="actualizarGenero()"
                    [disabled]="formGenero.invalid"
                    *ngIf="mostrarBotonActualizar">
                    Actualizar
                </button>
                <button
                    type="submit"
                    class="btn btn-success"
                    *ngIf="mostrarBotonAdd"
                    [disabled]="formGenero.invalid">
                    Añadir
                </button>
            </div>
        </form>
        <!-- contenido de la pagina -->
        <div class="content_page">
            <div class="barra_busqueda">
                <div>
                    <input
                        type="search"
                        name="searchuser"
                        id=""
                        placeholder="Buscar" />
                </div>
                <div class="search-btn">
                    <i class="fa-solid fa-search"></i>
                </div>
            </div>

            <!-- tabla de contenido de usuario -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr #row *ngFor="let item of generos">
                        <th scope="row">
                            {{ generos.indexOf(item) + 1 }}
                        </th>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.descripcion }}</td>

                        <td>
                            <div class="actions">
                                <button
                                    type="button"
                                    class="btn btn-light"
                                    (click)="editarGenero(item.id_genero)">
                                    ✏️
                                </button>

                                <button
                                    type="button"
                                    class="btn btn-light"
                                    (click)="deleteGenero(item.id_genero)">
                                    ❌
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Paginacion -->

            <!-- end paginacion -->
        </div>
    </div>

    <!--TAB 4: AÑADIR PROVEEDORES-->
    <div
        class="tab-pane fade"
        id="pills-proveedores"
        role="tabpanel"
        aria-labelledby="pills-proveedores-tab"
        tabindex="0">
        <form action="" [formGroup]="formProveedor" (submit)="sendProveedor()">
            <div class="container text-start">
                <div class="row align-items-start">
                    <div class="mb-3 col">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Nombre</label
                        >
                        <input
                            class="form-control"
                            id="exampleFormControlInput1"
                            formControlName="nombre" />
                    </div>
                    <div class="mb-3 col">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Email</label
                        >
                        <input
                            type="email"
                            class="form-control"
                            id="exampleFormControlInput1"
                            formControlName="email" />
                    </div>
                    <div class="mb-3 col">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Telefono</label
                        >
                        <input
                            class="form-control"
                            id="exampleFormControlInput1"
                            formControlName="telefono" />
                    </div>
                </div>
            </div>
            <div class="containerButton">
                <button
                    type="button"
                    class="btn btn-warning"
                    (click)="actualizarProveedor()"
                    [disabled]="formProveedor.invalid"
                    *ngIf="mostrarBotonActualizar">
                    Actualizar
                </button>
                <button
                    type="submit"
                    class="btn btn-success"
                    *ngIf="mostrarBotonAdd"
                    [disabled]="formProveedor.invalid">
                    Añadir
                </button>
            </div>
        </form>
        <!-- contenido de la pagina -->
        <div class="content_page">
            <div class="barra_busqueda">
                <div>
                    <input
                        type="search"
                        name="searchuser"
                        id=""
                        placeholder="Buscar" />
                </div>
                <div class="search-btn">
                    <i class="fa-solid fa-search"></i>
                </div>
            </div>

            <!-- tabla de contenido de usuario -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr #row *ngFor="let item of proveedores">
                        <th scope="row">
                            {{ proveedores.indexOf(item) + 1 }}
                        </th>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.telefono }}</td>

                        <td>
                            <div class="actions">
                                <button
                                    type="button"
                                    class="btn btn-light"
                                    (click)="
                                        editarProveedor(item.id_proveedor)
                                    ">
                                    ✏️
                                </button>

                                <button
                                    type="button"
                                    class="btn btn-light"
                                    (click)="
                                        deleteProveedor(item.id_proveedor)
                                    ">
                                    ❌
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Paginacion -->

            <!-- end paginacion -->
        </div>
    </div>
</div>
