.pagination ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.pagination ul li {
    margin: 0 5px;
}

.pagination ul li span {
    cursor: pointer;
    padding: 10px 15px;
    background: #f1f1f1;
    border-radius: 5px;
}

.pagination ul li.active span {
    background: #007bff;
    color: #fff;
}

.pagination ul li span:hover {
    background: #007bff;
    color: #fff;
}

/* page size */
.page_size_cont {
    display: flex;
    background-color: transparent;
    justify-content: center;
}

.page_size_cont select {
    margin-bottom: 1rem;
    outline: none;
    width: 70px;
    padding: 3px 10px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #3f3f3f2f;
    border-radius: 7px;
}

.page_size_cont select:hover {
    border: 1px solid #3f3f3f70;
}

.page_size_cont select > option {
    font-size: 20px;
    font-weight: 500;
}


.wrap{
    width: 500px;
    background: #e7e7e7;
    border: 5px;
    text-align: center;
}

.wrap header{
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}

.wrap .form-outer{
    width: 100%;
}

.form-outer form{
    display: flex;
    width: 400%;
}

.form-outer form .page{
    width: 25%;
}

.form-outer form .page .title{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}

.form-outer form .page .field button{
    width: 100%;
    height: calc(100% + 5px);
    margin-top: -20px;
    border: none;
    background: #2689fc;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s ease;
}

.form-outer form .page .field button:hover{
    background: #000;
}