.nav-link.active {
  background-color: #FFD977; /* Color de fondo del enlace activo */
  color: #000000; /* Color del texto del enlace activo */
  border-bottom: 2px solid #FFD977; /* Borde inferior del enlace activo */
}

