<div class="botonos">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button
                class="nav-link active"
                id="pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-home"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true">
                Rep. Préstamo
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link"
                id="pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-profile"
                type="button"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false">
                Rep. Ususario
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link"
                id="pills-contact-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-contact"
                type="button"
                role="tab"
                aria-controls="pills-contact"
                aria-selected="false">
                Rep. Devolución
            </button>
        </li>
    </ul>
</div>
<div class="tab-content" id="pills-tabContent">
    <div
        class="tab-pane fade show active"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
        tabindex="0">
        <div class="container mt-5">
            <form action="" method="post">
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <select
                            class="form-select"
                            id="user"
                            name="genero"
                            required>
                            <option value="">Seleccionar</option>
                            <option value="Narrativa">Oscar</option>
                            <option value="Poesía">Miguel</option>
                            <option value="Ensayo">Franklin</option>
                            <option value="Drama">Gabriela</option>
                            <option value="Otro">Tedy</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="autor" class="form-label"
                            >Fecha Inicio:</label
                        >
                        <input
                            type="date"
                            class="form-control"
                            id="autor"
                            name="autor"
                            required />
                    </div>
                    <div class="col-sm-3">
                        <label for="autor" class="form-label">Fecha Fin:</label>
                        <input
                            type="date"
                            class="form-control"
                            id="autor"
                            name="autor"
                            required />
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-generar">
                            Generar
                        </button>
                    </div>
                </div>
                <h2><strong>Reporte de Libros Préstados</strong></h2>
                <div container_reporte>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Libro</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Fecha Préstamo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ñacatita</td>
                                <td>Jacob</td>
                                <td>10/02/24</td>
                            </tr>
                            <tr>
                                <td>Amelia</td>
                                <td>Oscar</td>
                                <td>23/12/24</td>
                            </tr>
                            <tr>
                                <td>Kamasutra</td>
                                <td>Oscar</td>
                                <td>19/04/24</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <div
        class="tab-pane fade"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
        tabindex="0">
        <div class="container mt-5">
            <form action="" method="post">
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <label for="usuario" class="form-label"
                            >Usuario :</label
                        >
                        <select
                            class="form-select"
                            id="user"
                            name="genero"
                            required>
                            <option value="">Seleccionar</option>
                            <option value="Narrativa">Todos</option>
                            <option value="Poesía">Pendientes</option>
                            <option value="Ensayo">Recurrentes</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="bibliotecario" class="form-label"
                            >Bibliotecario:</label
                        >
                        <select
                            class="form-select"
                            id="user"
                            name="genero"
                            required>
                            <option value="">Seleccionar</option>
                            <option value="Narrativa">Oscar</option>
                            <option value="Poesía">Miguel</option>
                            <option value="Ensayo">Franklin</option>
                            <option value="Drama">Gabriela</option>
                            <option value="Otro">Tedy</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="autor" class="form-label"
                            >Fecha Inicio:</label
                        >
                        <input
                            type="date"
                            class="form-control"
                            id="autor"
                            name="autor"
                            required />
                    </div>
                    <div class="col-sm-2">
                        <label for="autor" class="form-label">Fecha Fin:</label>
                        <input
                            type="date"
                            class="form-control"
                            id="autor"
                            name="autor"
                            required />
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-generar">
                            Generar
                        </button>
                    </div>
                </div>
                <h2><strong>Reporte de Usuarios</strong></h2>
                <div container_reporte>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Oscar</td>
                                <td>Bautista</td>
                                <td>100224</td>
                            </tr>
                            <tr>
                                <td>Abel</td>
                                <td>Ayala</td>
                                <td>150224</td>
                            </tr>
                            <tr>
                                <td>Lucho</td>
                                <td>Amoncio</td>
                                <td>100224</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <div
        class="tab-pane fade"
        id="pills-contact"
        role="tabpanel"
        aria-labelledby="pills-contact-tab"
        tabindex="0">
        <div class="container mt-5">
            <form action="" method="post">
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <label for="usuario" class="form-label"
                            >Usuario :</label
                        >
                        <select
                            class="form-select"
                            id="user"
                            name="genero"
                            required>
                            <option value="">Seleccionar</option>
                            <option value="Narrativa">Todos</option>
                            <option value="Poesía">Pendientes</option>
                            <option value="Ensayo">Recurrentes</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="genero" class="form-label"
                            >Bibliotecario:</label
                        >
                        <select
                            class="form-select"
                            id="user"
                            name="genero"
                            required>
                            <option value="">Seleccionar</option>
                            <option value="Narrativa">Oscar</option>
                            <option value="Poesía">Miguel</option>
                            <option value="Ensayo">Franklin</option>
                            <option value="Drama">Gabriela</option>
                            <option value="Otro">Tedy</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="autor" class="form-label"
                            >Fecha Inicio:</label
                        >
                        <input
                            type="date"
                            class="form-control"
                            id="autor"
                            name="autor"
                            required />
                    </div>
                    <div class="col-sm-2">
                        <label for="autor" class="form-label">Fecha Fin:</label>
                        <input
                            type="date"
                            class="form-control"
                            id="autor"
                            name="autor"
                            required />
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-generar">
                            Generar
                        </button>
                    </div>
                </div>
                <h2><strong>Reporte de Libros Devueltos</strong></h2>
                <div container_reporte>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Libro</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Fecha Devolución</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ñacatita</td>
                                <td>Otto</td>
                                <td>10/02/24</td>
                            </tr>
                            <tr>
                                <td>Amelia</td>
                                <td>Oscar</td>
                                <td>15/02/24</td>
                            </tr>
                            <tr>
                                <td>Kamasutra</td>
                                <td>Oscar</td>
                                <td>10/02/24</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
