.nav-pills {
    /* Existing styles from the image */
    text-align: center; /* Center the tabs horizontally */
    /* Distribute tabs with spacing */
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    width: 100%; /* Ensure the container spans the full width */
    margin: 0 auto;
}

.nav-item {
    /* Existing styles from the image */
    margin-right: 50px; /* Add horizontal spacing between tabs */
}

.nav-link {
    color: black; /* Maintain black text color */
}

.nav-link.active {
    background-color: #ffd977; /* Color de fondo del enlace activo */
    color: #000000; /* Color del texto del enlace activo */
    border-bottom: 2px solid #ffd977; /* Borde inferior del enlace activo */
}

.container {
    width: 900px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    position: relative;
    top: 50%; /* 50% of viewport height */
}

button {
    background-color: #f3f3f3;
    padding: 5px 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    margin: auto;
}

.btn-generar {
    background-color: #64e061;
}
.btn-generar:hover {
    background-color: #0ce048;
}

h2 {
    font: 1em sans-serif;
    color: #270473;
    text-align: center;
    padding: 20px;
}
th {
    background-color: #d6d2d2;
    width: 10px;
}

.tab-pane {
    width: 950px;
    background-color: #fafafa;
    padding: auto 10px;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    position: relative;
    top: 5%;
    margin: 10px auto;
}
