<div class="botonos">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button
                class="nav-link active"
                id="pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-home"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true">
                Rep. Préstamo
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link"
                id="pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-profile"
                type="button"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false">
                Rep. Ususario
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link"
                id="pills-contact-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-contact"
                type="button"
                role="tab"
                aria-controls="pills-contact"
                aria-selected="false">
                Rep. Devolución
            </button>
        </li>
    </ul>
</div>
<div class="tab-content" id="pills-tabContent">
    <!-- TAB: Reporte Préstamo -->
    <div
        class="tab-pane fade show active"
        id="pills-home"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
        tabindex="0">
        <div class="container mt-5">
            <form [formGroup]="ReportePrestamoForm">
                <!-- fila 1 -->
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <label for="nombre" class="form-label">Libro</label>
                        <select
                            class="form-select"
                            id="user"
                            name="genero"
                            (change)="FiltroReportePrestamos()"
                            formControlName="libro"
                            required>
                            <option value="">Todos</option>
                            <option
                                *ngFor="let libro of Libros"
                                [value]="libro.titulo">
                                {{ libro.titulo }}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="nombre" class="form-label"
                            >Bibliotecario</label
                        >
                        <select
                            class="form-select"
                            id="user"
                            name="genero"
                            (change)="FiltroReportePrestamos()"
                            formControlName="bibliotecario"
                            required>
                            <option value="">Todos</option>
                            <option
                                *ngFor="let bibliotecario of Bibliotecarios"
                                [value]="bibliotecario.nombres">
                                {{ bibliotecario.full_name }}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="autor" class="form-label"
                            >Fecha Inicio:</label
                        >
                        <input
                            type="date"
                            class="form-control"
                            id="autor"
                            name="autor"
                            formControlName="fecha_inicio"
                            (input)="FiltroReportePrestamos()"
                            required />
                    </div>
                    <div class="col-sm-3 col_btn_gen">
                        <button
                            type="submit"
                            class="btn btn-generar"
                            (click)="generarReporte('prestamo')">
                            Generar
                        </button>
                    </div>
                </div>
                <!-- fila 2 -->
                <div class="row mb-3">
                    <div class="col-sm-4">
                        <label for="nombre" class="form-label">Usuario</label>
                        <select
                            class="form-select"
                            id="user"
                            name="genero"
                            formControlName="usuario"
                            (change)="FiltroReportePrestamos()"
                            required>
                            <option value="">Todos</option>
                            <option
                                *ngFor="let usuario of Usuarios"
                                [value]="usuario.nombres">
                                {{ usuario.nombres }},
                                {{ usuario.apellido_paterno }}
                                {{ usuario.apellido_materno }}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label for="autor" class="form-label">Fecha Fin:</label>
                        <input
                            type="date"
                            class="form-control"
                            id="autor"
                            name="autor"
                            formControlName="fecha_limite"
                            (input)="FiltroReportePrestamos()"
                            required />
                    </div>
                </div>
                <!-- en filas de opciones -->
                <h2><strong>Reporte de Libros Préstados</strong></h2>
                <div container_reporte>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Libro</th>
                                <th scope="col">Genero del Libro</th>
                                <th scope="col">Fecha préstamo</th>
                                <th scope="col">Fecha Caducidad</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Retraso</th>
                                <th scope="col">Bibliotecario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let prestamo of ListaPrestamos;
                                    let i = index
                                ">
                                <td>{{ i + 1 }}</td>
                                <td>{{ prestamo.usuario }}</td>
                                <td>{{ prestamo.libro }}</td>
                                <td>{{ prestamo.genero_libro }}</td>
                                <td>{{ prestamo.fecha_prestamo }}</td>
                                <td>{{ prestamo.fecha_caducidad }}</td>
                                <td>
                                    <span
                                        class="badge rounded-pill"
                                        [class.text-bg-success]="
                                            prestamo.estado_devolucion ===
                                            'Devuelto'
                                        "
                                        [class.text-bg-warning]="
                                            prestamo.estado_devolucion ===
                                                'por devolver' &&
                                            prestamo.retraso.includes(
                                                'retraso'
                                            ) === false
                                        "
                                        [class.text-bg-danger]="
                                            prestamo.estado_devolucion ===
                                                'por devolver' &&
                                            prestamo.retraso.includes(
                                                'retraso'
                                            ) === true
                                        "
                                        >{{ prestamo.estado_devolucion }}</span
                                    >
                                </td>
                                <td>
                                    {{
                                        prestamo.estado_devolucion ===
                                        'Devuelto'
                                            ? 'Satisfecho'
                                            : prestamo.retraso
                                    }}
                                </td>
                                <td>{{ prestamo.bibliotecario }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Paginacion -->
                    <div class="pagination">
                        <ul>
                            <li
                                *ngFor="let page of ReportePrestamoPages"
                                [ngClass]="{
                                    active:
                                        page.number ===
                                        ReportePrestamoCurrentPage
                                }">
                                <!-- botones -->
                                <button
                                    *ngIf="page.type === 'page'"
                                    (click)="
                                        changePageReportePrestamo(page.number)
                                    ">
                                    {{ page.number }}
                                </button>
                                <span *ngIf="page.type === 'dots'">...</span>

                                <button
                                    *ngIf="page.type === 'prev'"
                                    (click)="
                                        changePageReportePrestamo(page.number)
                                    ">
                                    <i class="fas fa-angle-left"></i> Prev
                                </button>

                                <button
                                    role="button"
                                    *ngIf="page.type === 'next'"
                                    (click)="
                                        changePageReportePrestamo(page.number)
                                    ">
                                    Next <i class="fas fa-angle-right"></i>
                                </button>
                            </li>
                        </ul>
                        <div
                            [formGroup]="reportePrestamoPageSizeForm"
                            class="page_size_cont mx-3">
                            <select
                                formControlName="pageSize"
                                (change)="changePageSizeReportePrestamo()">
                                <option
                                    *ngFor="let size of [5, 10, 20, 100]"
                                    [value]="size">
                                    {{ size }}
                                </option>
                            </select>
                        </div>
                        <p class="texto">
                            Mostrando
                            {{
                                reportePrestamoPageSize <=
                                reportePrestamoTotalItems
                                    ? reportePrestamoPageSize
                                    : reportePrestamoTotalItems
                            }}
                            registros de
                            {{ reportePrestamoTotalItems }}
                        </p>
                    </div>
                    <!-- end paginacion -->
                </div>
            </form>
        </div>
    </div>

    <!-- TAB: Reporte Usuario -->
    <div
        class="tab-pane fade"
        id="pills-profile"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
        tabindex="0">
        <div class="container mt-5">
            <form [formGroup]="ReporteUsuarioForm">
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <label for="nombre" class="form-label"
                            >Bibliotecario</label
                        >
                        <select
                            class="form-select"
                            id="user"
                            name="genero"
                            (change)="FiltroReportePrestamos()"
                            formControlName="bibliotecario"
                            required>
                            <option value="">Todos</option>
                            <option
                                *ngFor="let bibliotecario of Bibliotecarios"
                                [value]="bibliotecario.nombres">
                                {{ bibliotecario.full_name }}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Fecha Inicio:</label>
                        <input
                            type="date"
                            class="form-control"
                            formControlName="fecha_inicio"
                            name="autor"
                            required />
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label">Fecha Fin:</label>
                        <input
                            type="date"
                            class="form-control"
                            formControlName="fecha_limite"
                            name="autor"
                            required />
                    </div>
                    <div class="col-sm-3 col_btn_gen">
                        <button
                            type="submit"
                            class="btn btn-generar"
                            (click)="openModal()">
                            Generar
                        </button>
                    </div>
                </div>
                <h2><strong>Reporte de Usuarios</strong></h2>
                <div container_reporte>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido Paterno</th>
                                <th scope="col">Apellido Materno</th>
                                <th scope="col">Fecha de Creación</th>
                                <th scope="col">Cantidad de prestamos</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Agregado por</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let usuario of ListaUsuarios;
                                    let i = index
                                ">
                                <td>{{ i + 1 }}</td>
                                <td>{{ usuario.nombres }}</td>
                                <td>{{ usuario.apellido_paterno }}</td>
                                <td>{{ usuario.apellido_materno }}</td>
                                <td>{{ usuario.fecha_creacion }}</td>
                                <td>{{ usuario.cant_prestamos }}</td>
                                <td>{{ usuario.es_activo }}</td>
                                <td>{{ usuario.agregado_por }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Paginacion  reporte usuario-->
                    <div class="pagination">
                        <ul>
                            <li
                                *ngFor="let page of ReporteUsuarioPages"
                                [ngClass]="{
                                    active:
                                        page.number ===
                                        ReporteUsuarioCurrentPage
                                }">
                                <!-- botones -->
                                <button
                                    *ngIf="page.type === 'page'"
                                    (click)="
                                        changePageReporteUsuario(page.number)
                                    ">
                                    {{ page.number }}
                                </button>
                                <span *ngIf="page.type === 'dots'">...</span>

                                <button
                                    *ngIf="page.type === 'prev'"
                                    (click)="
                                        changePageReporteUsuario(page.number)
                                    ">
                                    <i class="fas fa-angle-left"></i> Prev
                                </button>

                                <button
                                    role="button"
                                    *ngIf="page.type === 'next'"
                                    (click)="
                                        changePageReporteUsuario(page.number)
                                    ">
                                    Next <i class="fas fa-angle-right"></i>
                                </button>
                            </li>
                        </ul>
                        <div
                            [formGroup]="reporteUsuarioPageSizeForm"
                            class="page_size_cont mx-3">
                            <select
                                formControlName="pageSize"
                                (change)="changePageSizeReporteUsuario()">
                                <option
                                    *ngFor="let size of [5, 10, 20, 100]"
                                    [value]="size">
                                    {{ size }}
                                </option>
                            </select>
                        </div>
                        <p class="texto">
                            Mostrando
                            {{
                                reporteUsuarioPageSize <=
                                reporteUsuarioTotalItems
                                    ? reporteUsuarioPageSize
                                    : reporteUsuarioTotalItems
                            }}
                            registros de
                            {{ reporteUsuarioTotalItems }}
                        </p>
                    </div>
                    <!-- end paginacion reporte usuario-->
                </div>
            </form>
        </div>
    </div>

    <!-- TAB: Reporte Devolución -->
    <div
        class="tab-pane fade"
        id="pills-contact"
        role="tabpanel"
        aria-labelledby="pills-contact-tab"
        tabindex="0">
        <div class="container mt-5">
            <form [formGroup]="ReporteDevolucionForm">
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <label for="usuario" class="form-label"
                            >Usuario :</label
                        >
                        <select
                            class="form-select"
                            formControlName="usuario"
                            name="genero"
                            required>
                            <option value="">Todos</option>
                            <option
                                *ngFor="let usuario of Usuarios"
                                [value]="usuario.nombres">
                                {{ usuario.nombres }},
                                {{ usuario.apellido_paterno }}
                                {{ usuario.apellido_materno }}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <label for="genero" class="form-label"
                            >Bibliotecario:</label
                        >
                        <select
                            class="form-select"
                            formControlName="bibliotecario"
                            name="genero"
                            required>
                            <option value="">Todos</option>
                            <option
                                *ngFor="let bibliotecario of Bibliotecarios"
                                [value]="bibliotecario.nombres">
                                {{ bibliotecario.full_name }}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="autor" class="form-label"
                            >Fecha Inicio:</label
                        >
                        <input
                            type="date"
                            class="form-control"
                            formControlName="fecha_inicio"
                            name="autor"
                            required />
                    </div>
                    <div class="col-sm-2">
                        <label for="autor" class="form-label"
                            >Fecha Limite:</label
                        >
                        <input
                            type="date"
                            class="form-control"
                            formControlName="fecha_limite"
                            name="autor"
                            required />
                    </div>
                    <div class="col-sm-2 col_btn_gen">
                        <button
                            type="submit"
                            class="btn btn-generar"
                            (click)="openModal()">
                            Generar
                        </button>
                    </div>
                </div>
                <h2><strong>Reporte de Libros Devueltos</strong></h2>
                <div container_reporte>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" colspan="3">PRESTAMO</th>
                                <th scope="col" colspan="3">USUARIO</th>
                                <th scope="col">RESPONSABLE</th>
                            </tr>
                            <tr>
                                <th scope="col">N°</th>
                                <th scope="col">titulo del libro</th>
                                <th scope="col">Fecha Devolución</th>
                                <th scope="col">nombres</th>
                                <th scope="col">Apellido paterno</th>
                                <th scope="col">Apellido materno</th>
                                <th scope="col">Bibliotecario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Otto</td>
                                <td>10/02/24</td>
                                <td>Ñacatita</td>
                                <td>Otto</td>
                                <td>10/02/24</td>
                                <td>Ñacatita</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal reporte prestamos-->
<div
    #staticBackdrop
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1
                    class="modal-title fs-5 text-center"
                    id="staticBackdropLabel">
                    Reporte
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-danger"
                    data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
