<div class="container overflow-hidden text-center">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 usuario">Usuario</div>
        </div>
        <div class="col">
            <div class="p-3 libro">Libro</div>
        </div>
    </div>
</div>
<div class="nuevo-contenedor">
    <div class="nuevo-contenedor2">
        <input type="text" placeholder="Buscar..." />
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
    <table class="table custom-table">
        <thead>
            <tr>
                <th scope="col">ID Usuario</th>
                <!-- th negrita y td normal-->
                <th scope="col">Nombres</th>
                <th scope="col">Apellido Paterno</th>
                <th scope="col">Apellido Materno</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">1</td>
                <td scope="row">Gabriela</td>
                <td scope="row">Rodrigo</td>
                <td scope="row">Cutipa</td>
                <td scope>
                    <form [formGroup]="userSelectForm">
                        <label class="btn btn-sm" for="select-user">
                            <input
                                type="checkbox"
                                name="select-user"
                                id="select-user"
                                formControlName="seleccion" />
                        </label>
                    </form>
                </td>
            </tr>
            <tr>
                <td scope="row">2</td>
                <td scope="row">Julio</td>
                <td scope="row">Huaman</td>
                <td scope="row">Rojas</td>
                <td scope>
                    <form [formGroup]="userSelectForm">
                        <label class="btn btn-sm" for="select-user">
                            <input
                                type="checkbox"
                                name="select-user"
                                id="select-user"
                                formControlName="seleccion" />
                        </label>
                    </form>
                </td>
            </tr>
            <tr>
                <td scope="row">3</td>
                <td scope="row">Martha</td>
                <td scope="row">Ramirez</td>
                <td scope="row">Berrocal</td>
                <td scope>
                    <label class="btn btn-sm" for="select-user1">
                        <input
                            type="checkbox"
                            name="select-user"
                            id="select-user1" />
                    </label>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="nuevo-contenedor3 nuevo-contenedor2">
        <button class="botonNEXT" for="nav-Libro-tab" (click)="Ir_Libro()">
            NEXT
        </button>
    </div>

    <!-- Este código hace un párrafo <div class="nuevo-siguiente">NEXT</div> -->
</div>
